body {
  font-family: Arial, sans-serif;
  margin: 2em;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.custom-dropdown {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  display: none;
}

.custom-option {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #eee;
}

h1 {
  font-size: 24px;
}
